* {
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Raleway', sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h4 {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

button {
    font-family: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* header */
.head-part {
    border-bottom: 1px solid #e7e9fc;
}

.head-part .container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.logo-nav {
    font-family: "Raleway", sans-serif;
    color: #404BBF;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 16px 0;
}


.logo-nav:hover {
    color: #404BBF;
}

.logo-nav:focus {
    color: #404BBF;
}

.text-logo {
    color: black;
}


.main-menu {
    display: none;
    gap: 40px;
    margin: 0 auto;

}

.chapter {
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    color: #404BBF;
    position: relative;

}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;


}

.navigation .chapter:hover {
    color: #404BBF;
}

.navigation .chapter:focus {
    color: #404BBF;
}


/* contacts */
.adds {
    display: none;
    font-style: normal;
}

.info-contact {
    display: flex;
    gap: 40px;
}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.adds .contacts:hover {
    color: #404BBF;

}

.adds .contacts:focus {
    color: #404BBF;
}


    /* section 1 */
.hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/fon/Dark-bg_mob.jpg);
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

@media only screen and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
        url(../images/fon/Dark-bg_mob@2x.jpg);
    }
}


.tagline {
    max-width: 217px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    

}

.hero-button {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
    margin: 0 auto;
    margin-top: 48px;
}

.hero-section .hero-button:hover {
    background-color: #404BBF;
}

.hero-section .hero-button:focus {
    background-color: #404BBF;
}

/* section2 */
.plan-section {
    background-color: #FFFFFF;
    padding-top: 96px;
    padding-bottom: 96px;
}


.technologi-target {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 72px;
}



.icon-plan {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid black;

}


.target {
    text-align: center;
    font-family: 'Roboto' sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 8px;


}

.item-plan {
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/* section3 */
.team-section {
    background-color: #F4F4FD;
    padding-top: 96px;
    text-align: center;
}

.leader {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}

.leader-background {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 72px;
}

.staff-main {
    background-color: #FFFFFF;
    border: 1px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}


.img-leader {
    border-radius: 0px 0px 4px 4px;
    width: 100%;

}


.about-staff {
    padding-top: 32px;
    padding-bottom: 32px;
}

.staff {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;

}

.occupation {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.list-social-media {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.kinship {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}


/* соц-мережі */
.shrink {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.shrink:hover {
    background-color: #404bbf;
    border-radius: 50%;
}

.shrink:focus {
    background-color: #404bbf;
    border-radius: 50%;
}

/* соц-мережі */


.flatware {
    width: 40px;
    height: 40px;
    fill: #f4f4fd;

}

.list-social-media .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40;
    height: 40;

}

/* section4 */
.portfolio-section {
    padding-top: 96px;
    padding-bottom: 96px;
}


.project {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.port-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 48px;

}

.project-list {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-list:hover .frtala {
    transform: translateY(0%);
}

.img-prod {
    position: relative;
    overflow: hidden;
}


.project-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}



.frtala {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.text-part {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.proposition {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.direction {
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 0;

    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

        /* footer */
.button-nav {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: block;
    background-color: #FFFFFF;
    border: none;
}

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;

}

.footer .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 72px;
}

.logo-item {
    justify-content: center;
}


.web {
    display: block;
    font-family: Raleway, sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    line-height: 1.17;
    text-decoration: none;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
        
}

.studio {
    color: #f4f4fd;

}

.item-footer {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}



.social-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-top: 0;
    text-align: center;
}

.social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.fragrant {
    width: 40px;
    height: 40px;

}

/* соц-мереж0і */
.link-contacts {
    background-color: #4d5ae5;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts:hover {
    background-color: #31d0aa;

}

.link-contacts:focus {
    background-color: #31d0aa;
}

.colon {
    background-color: #4d5ae5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    fill: #f4f4fd;

}

.colon:hover {
    background-color: #31d0aa;
    border-radius: 50%;
}

.colon:focus {
    background-color: #31d0aa;
    border-radius: 50%;
}

/* соц-мережі */


.accommodate {
    margin: 0 16px;
}

.incur {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    

}

.explode {
    display: block;
}


.compensate {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF;
}

::placeholder {
    color: #FFFFFF;
}

.forgive {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    margin: 16px auto;
}

.predict {
    margin-left: 16px;
}
 
            /* mobile-menu */

.mobile-container {
    position: fixed;
    top: 0;
    left: 0;

    padding: 24px 24px 40px 16px;

    display: flex;
    flex-direction: column;


    background-color: #FFFFFF;
    width: 100%;
    height: 100%;


    transform: translateX(100%);
    transition: transform 300ms ease-in;
}
.mobile-container.is-open {
    transform: translateX(0%);
}

.mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    min-width: 24px;
    min-height: 24px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid #2e2f42;
    background-color: #E7E9FC;

}

.mutaxe {
    margin-bottom: auto;
    padding-top: 72px;
    

}

.babblings {
    margin-bottom: 40px;
}

.menu-link {
    color: #2E2F42;

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}

.menu-link-current {
    color: #404bbf;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}

.meliorist {
    margin-bottom: 48px;
}

.aconitum:not(:last-child) {
    margin-bottom: 24px;
}

.glucose {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 24px;

}

.glucose-accent {
    color: #4D5AE5;
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.social-list-mob-menu {
    display: flex;
    gap: 40px;
    

}

.link-cont {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

            /* modal-window */

.modal-window {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    transform: translateY(-100%);
}

.modal-window.is-open {
    transform: translateY(0%);
}

.precede {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(1);
    width: 300px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.bend {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bend:hover {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.bend:focus {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.transmit {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.diminish {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.demonstrate {
    margin-bottom: 8px;
}

.wrap {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;

}

.recruit {
    position: relative;
}


.implement {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.implement:focus {
    border-color: #4d5ae5;
}


.stimulate {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.implement:focus+.stimulate {
    fill: #4d5ae5;
    transition: fill 250ms;
}


.yield {
    margin-bottom: 16px;
}

.conceive {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conceive:focus {
    border-color: #4D5AE5;
}

.store {
    margin-bottom: 24px;
}

.spotless {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.adamant {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}


.smooth {
    color: #4d5ae5;
}

.auspicious {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.store:checked + .spotless .adamant {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .button-nav {
        display: none;
    }
    .navigation {
        align-items: center;
    }
    
    .main-menu {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    
    .adds {
        display: block;
    }
    .info-contact {
        display: block;
    }

    .contacts {
        font-family: 'Roboto' sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }

    .logo-nav {
        margin: 0;
    }
    /* section-1 */

    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/fon/Dark-bg_tab.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 768px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        }


@media only screen and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
             url(../images/fon//Dark-bg_tab@2x.jpg);
    }
}

    .tagline {
        max-width: 496px;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        margin: 0 auto;
    }

    /* section-2 */

    .plan-section {
        padding-top: 96px;
        padding-bottom: 96px;
        background-color: #FFFFFF;
    }

    .icon-plan {
        display: none;

    }

    .technologi-target {
        display: flex;
        gap: 72px 24px;
        flex-wrap: wrap;
        flex-direction: row;
     
    }

    .list-plan {
        padding-top: 0;
        flex-basis: calc((100% - 24px) / 2);
    }

    .target {
        text-align: start;
    }

    
    /* section-3 */


    .leader-background {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 64px 24px;
    }

    /* section-4 */

    .port-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 72px 24px;
    }

    .project-list {
        flex-basis: calc((100% - 72px) / 2);
    }

    /* footer */

    .footer {
        padding: 100px 0;
    }

    .footer .container {
        width: 548px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        gap: 72px 24px;
    }

    .explode {
        display: flex;
        gap: 24px;
    }

    .incur {
        text-align: start;
    } 

    .web {
        text-align: start;
    }
    .social-item {
        text-align: start;
    }

    .forgive {
        margin: 0;
        padding: 0;
    }

    .accommodate {
        margin: 0;
        padding: 0;
            
    }

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.precede {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.bend {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bend:hover {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.bend:focus {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.transmit {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.diminish {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.demonstrate {
    margin-bottom: 8px;
}

.wrap {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;

}

.recruit {
    position: relative;
}


.implement {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.implement:focus {
    border-color: #4d5ae5;
}


.stimulate {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.implement:focus+.stimulate {
    fill: #4d5ae5;
    transition: fill 250ms;
}


.yield {
    margin-bottom: 16px;
}

.conceive {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conceive:focus {
    border-color: #4D5AE5;
}

.store {
    margin-bottom: 24px;
}

.spotless {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.adamant {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}


.smooth {
    color: #4d5ae5;
}

.auspicious {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.store:checked+.spotless .adamant {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
        
}



@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    }

   
    .head-part .container {
        display: flex;
        margin: 0 auto;
        padding: 0 15px;
        justify-content: space-between;
        align-items: center;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }

    .contacts {
        font-family: 'Roboto' sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

.hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/fon/people-office_pc.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    }

    @media only screen and (min-resolution: 192dpi) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/fon/people-office_pc@2x.jpg);
        }
    }

    .tagline {
        max-width: 496px;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        text-align: center;
        color: #FFFFFF;
        margin: 0 auto;
    }

    .info-contact {
        display: flex;
    }

    .plan-section {
    padding-top: 120px;
    padding-bottom: 120px;
    }

    .technologi-target {
    display: flex;
    gap: 24px;
    }

    .list-plan {
        flex-basis: calc((100% - 72px) / 4);
    }

   .icon-plan {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 264px;
       height: 112px;
       background-color: #f4f4fd;
       border-radius: 4px;
       margin-bottom: 8px;
       border: 1px solid black;

   }

   .target {
       font-family: "Roboto" sans-serif;
       font-size: 20px;
       font-weight: 500;
       line-height: 24px;
       letter-spacing: 0.017em;
       font-style: normal;
       margin-bottom: 8px;

   }

   .item-plan {
        font-family: 'Roboto' sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
   }


   /* section-3 */

   .team-section {
       background-color: #f4f4fd;
       padding-top: 120px;
       padding-bottom: 120px;

    }

    .leader-background {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        padding: 0;
        margin: 0;
    }

                     /* section-4 */

    .port-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        margin: 0;
        padding: 0;
    }

    .project-list {
        flex-basis: calc((100% - 72px) / 3);
    }



    /* footer */

    .footer {
        background-color: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
    
    }
    
    .footer .container {
        width: 1158px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 15px;
    
    }
    
                        /* modal-window */
    .modal-window {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(46, 47, 66, 0.4);
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
    .precede {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)scale(1);
            width: 408px;
            min-height: 584px;
            background-color: #fcfcfc;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding: 72px 24px 24px 24px;
        }
    
    .bend {
            position: absolute;
            top: 24px;
            right: 24px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e7e9fc;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 0;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .bend:hover {
            background-color: #404bbf;
            border: none;
            fill: #FFFFFF;
        }
    
    .bend:focus {
            background-color: #404bbf;
            border: none;
            fill: #FFFFFF;
        }
    
    .transmit {
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .diminish {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 16px;
        }
    
    .demonstrate {
            margin-bottom: 8px;
        }
    
    .wrap {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #8e8f99;
            display: block;
            margin-bottom: 4px;
    
        }
    
    .recruit {
            position: relative;
        }
    
    
    .implement {
            width: 100%;
            height: 40px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            background-color: transparent;
            padding-left: 38px;
            outline: transparent;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .implement:focus {
            border-color: #4d5ae5;
        }
    
    .stimulate {
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            fill: #000000;
        }

    .implement:focus + .stimulate {
        fill: #4d5ae5;
        transition: fill 250ms;
        }
    
    
    
    .yield {
            margin-bottom: 16px;
        }
    
        .conceive {
            width: 100%;
            height: 120px;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: rgba(46, 47, 66, 0.4);
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 4px;
            background-color: transparent;
            padding: 8px 16px;
            outline: transparent;
            resize: none;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .conceive:focus {
            border-color: #4D5AE5;
        }
    
        .store {
            margin-bottom: 24px;
        }
    
        .spotless {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #8e8f99;
    
        }
    
        .adamant {
            width: 16px;
            height: 16px;
            border: 1px solid rgba(46, 47, 66, 0.4);
            border-radius: 2px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            fill: transparent;
    
        }
    
    
        .smooth {
            color: #4d5ae5;
        }
    
        .auspicious {
            display: block;
            min-width: 169px;
            height: 56px;
            font-family: "Roboto" sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            cursor: pointer;
            background-color: #4d5ae5;
            border: none;
            border-radius: 4px;
            margin: 0 auto;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    
        .store:checked+.spotless .adamant {
            background-color: #404bbf;
            border: none;
            fill: #f4f4fd;
        }
    


}

