body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

img {
    display: block;
}

/* header */
.head-part {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.head-part .container {
    display: flex;
    margin: 0 auto;
    width: 1158px;
    padding: 0 15px;
}

.navigation {
    display: flex;
    align-items: center;
}

.main-menu {
    display: flex;
    gap: 40px;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
   

}


.main-menu ::after  {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.logo-nav {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    
}


.logo-nav:hover {
    color: #404BBF;
}

.logo-nav:focus {
    color: #404BBF;
}

.chapter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .chapter:hover {
    color: #404BBF;
}

.navigation .chapter:focus {
    color: #404BBF;
}



.adds {
    font-style: normal;
    

}

.info-contact {
    display: flex;
    gap: 40px;
}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.adds .contacts:hover {
    color: #404BBF;

}

.adds .contacts:focus {
    color: #404BBF;
}



/* section1 */
.hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/fon/people.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

  
.tagline {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    color: #FFFFFF;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;

}

.hero-button {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    
}

.hero-section .hero-button:hover {
    background-color: #404BBF;
}

.hero-section .hero-button:focus {
    background-color: #404BBF;
}

/* section2 */
.plan-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1158px;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.technologi-target {
    display: flex;
    gap: 24px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-plan {
    width: calc((100% - 72px) / 4);
}

.icon-plan {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}


.target {
    margin-bottom: 8px;
}
.plan-section .item-plan {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.icon-rss {
    width: 64;
    height: 64;
}


/* section3 */
.team-section {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.leader {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #FFFFFF ;
    margin-bottom: 72px;

}

.leader-background {
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.staff-main {
    width: calc((100% - 72px) / 4);
    border: 1px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    
    
}

.img-leader {
    border-radius: 0px 0px 4px 4px;

}

.about-staff {
    padding-top: 32px;
    padding-bottom: 32px;
}

.staff {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
    width: calc((100% - 72px) / 4);

}

.occupation {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.list-social-media {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.kinship {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 24px;
   
}


.shrink {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.kinship:hover {
    background-color: #404bbf;
}

.kinship:focus {
    background-color: #404bbf;
}

.flatware {
   fill: #f4f4fd;
}

.list-social-media-social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40;
    height: 40;

}

.link-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}






/* section4 */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-section,:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.project {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.port-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
}

.project-list {
    width: calc((100% - 48px) / 3);
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 32px 16px;
    margin-bottom: 8px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.project-list:hover .frtala {
    transform: translateY(0%);
}

.img-prod {
    position: relative;
    overflow: hidden;
}


.regard{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.frtala {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);




}

.text-part {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;

}

.proposition {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.direction {
    /* position: absolute; */
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 40px 32px;
    /* background-color: #4d5ae5; */
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


/* address-contacts */

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: baseline;
}

.all-foot-cont {
    display: flex;
    align-items: baseline;
}

.logo-item {
    margin-right: 120px;
}


.logo-nav {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer {
    color: #f4f4fd;

}

.item-footer {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}


.social-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-top: 0;
}

.social-list {
    display: flex;
    gap: 16px;
}

.link-contacts {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.colon {
    fill: #f4f4fd;
}


.fragrant {   
     width: 40px;
     height: 40px;

}

.fragrant:hover {
    background-color: #31d0aa;
}

.fragrant:focus {
    background-color: #31d0aa;
}

.incur {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.explode {
    display: flex;
    gap: 24px;
}


.compensate {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF;
}

::placeholder {
    color: #FFFFFF;
}

.forgive {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.predict {
    margin-left: 16px;
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.precede {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.bend {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bend:hover  {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.bend:focus {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.transmit {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.diminish {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.demonstrate {
    margin-bottom: 8px;
}

.wrap {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;

}

.recruit {
    position: relative;
}

.implement {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.implement:focus {
    border-color: #4d5ae5;
}


.stimulate {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #4D5AE5;
}

.yield{
    margin-bottom: 16px;
}

.conceive {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conceive:focus {
    border-color: #4D5AE5;
}

.store {
    margin-bottom: 24px;
}

.spotless {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    
}

.adamant {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}


.smooth {
    color: #4d5ae5;
}

.auspicious {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.store:checked + .spotless .adamant {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}


